Package: ru.kasper.snapstress
Name: Snapstress
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Save photos from Snapster
 Snapstress is a Cydia Substrate tweak that allows you to save photos from feed and profile pages and add them to VK album while using Snapster App.
 
 Saves the highest quality available.
 
 No options to configure.
Maintainer: Artem Kasper
Author: Artem Kasper
Section: Tweaks
